*{ margin: 0; padding: 0;}
body{ background: rgba(0,0,0,0.5)}
.box{width: 500px; height: 400px; position: absolute; left: 50%; top: 50%; margin-left: -250px; margin-top: -200px; background: #fff;border-radius: 10px; overflow: hidden;}
.box .one{width: 100%; height: 100%;}
.one>img{width: 100%;}
.one .main{width: 100%; height: 50px; margin-top: 50px; position: relative; text-align: center; line-height: 50px; border-bottom: 1px solid red;}
.main span{ width: 200px; height: 50px; text-align: center;position: absolute; transition: left 0.3s linear; cursor: pointer;}
.main .state1{left: 0;}
.main .state2{ left: 300px;}
.main .btn{display: inline-block; vertical-align: middle; background-image: url("./image/change.png");
    width: 30px;height: 30px; background-size: 100%; transition: transform 0.3s linear;}

.box .two{position: absolute; width:500px; height: 400px; left: 100%; top: 0; background: #fff; border-radius: 10px; transition: left 0.3s linear;}
.two a{display: inline-block; margin-left: 20px; margin-top: 10px; color: #ccc;}
.two h2{ text-align: center;}
.two ul{ width: 80%; margin: 0 auto; text-align: center;}
.two ul li{float: left; width: 16%; height: 40px; margin-left: 7px; margin-top: 20px; border: 1px solid #ccc; border-radius: 10px; list-style: none; line-height: 40px; cursor: pointer;}
.two ul li:hover{border: 1px solid green;}